.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
